.mains-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1rem;
}


.form-container {
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.75); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}


.form-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}


.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: -0.5rem;
}


.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input, select {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

input::placeholder, select {
  color: #aaa;
}

.errors {
  color: #fff; 
  font-size: 0.85rem; 
  text-align: left; 
  margin-top: -0.2rem; 
  margin-bottom: 1rem; 
  padding-left: 0.3rem;
}

.submit-containers button {
  width: 100%;
  padding: 0.8rem;
  background-color: #12bb67; 
  color: #fff;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-containers button:hover {
  background-color: #333; 
}


.register-container {
  margin-top: 1.5rem; 
}
.register-container p {
  color: #fff;
  margin-left: 0.3rem;
}
 
.register-container a {
  color: #fff;
  text-decoration: underline;
}

.register-container a {
  color: #e50914; 
  text-decoration: none; 
  font-weight: bold; 
  transition: color 0.3s ease; 
}

.register-container a:hover {
  color: #ff6666; 
  text-decoration: underline; 
}
